# Backup destination
BACKUP_MOUNT=/mnt/backup_repo
BACKUP_NAMESPACE=repo

# APP_UPLOADS_DIR=/opt/repo/backend/uploads

# Auth DB connection
REPO_AUTH_DB_NAME=repo_auth_system
REPO_AUTH_DB_HOST=localhost
REPO_AUTH_DB_PORT=5432
REPO_AUTH_DB_USER=postgres
REPO_AUTH_DB_PASSWORD=change_me

# Repository DB connection
REPOSITORY_DB_NAME=repository_system
REPOSITORY_DB_HOST=localhost
REPOSITORY_DB_PORT=5432
REPOSITORY_DB_USER=postgres
REPOSITORY_DB_PASSWORD=change_me

# Retention
RETENTION_DAYS=14
LOG_RETENTION_DAYS=30
